@import url('../variables.pcss');

.context-menu {
	position: absolute;
	top: 3rem;
	right: 0;
	display: none;
	padding: 1.2rem;
	border-radius: 0.4rem;
	border: 1px solid var(--gray);
	background: white;
	z-index: 10;
}

.context-menu--open {
	display: block;
}
