@import url('../variables.pcss');

.form-input,
.form-input:focus {
	box-sizing: border-box;
	border-radius: 3px;
	border: 0.1rem solid #000;
	padding: 0.2rem 0.5rem;
	width: 100%;
	height: 4rem;
	outline: none;
	font: 1.6rem/2.4rem var(--default-font-face) !important;
}

.form-input--size-s,
.form-input--size-s:focus {
	padding: 0.1rem 0.5rem;
	height: 3.2rem;
}
