@import url('../variables.pcss');

.table {
	width: 100%;
}

.table tr {
	position: relative;
}

.table th {
	font-weight: bold;
	text-align: left;
}

.table th,
.table td {
	padding: 1rem;
}

.table th:first-child,
.table td:first-child {
	padding-left: 1.6rem;
}

.table th:last-child,
.table td:last-child {
	padding-right: 1.6rem;
}

.table tr > * {
	border-bottom: 1px solid var(--light-gray);
}

.table tbody tr:hover {
	background: #fbfbfb;
}
